
<table class="table_col">

    <tr>
        @if (ViewBag.Type == "vhod")
        {
            <th>
                Отправитель
            </th>
            <th>Вид документа</th>
            <th>Дата получения</th>
        }
        else
        {
            <th>
                Получатель
            </th>
            <th>Вид документа</th>
            <th>Дата отправления</th>
        }
    </tr>

    @foreach (ViSED.Models.Letters item in ViewBag.Letters)
    {
        string style = ViewBag.Type == "vhod" && item.dateOfRead == null ? "font-weight:600;background-color: #e8f0ff;" : "";

        int userID = ViewBag.Type == "vhod" ? item.from_user_id : item.to_user_id;
        <tr style="@style">

            <td  onclick="location.href='@Url.Action("Dialog","User", new { userId=userID })'">
                @if (style != "")
                {
                    <img class="imgConvert" src="~/Content/icons/konvertClose.png" />
                }
                else
                {
                    <img class="imgConvert" src="~/Content/icons/konvertOpen.png" />
                }

                @item.Users1.first_name @item.Users1.second_name.Substring(0,1). @item.Users1.third_name.Substring(0, 1).
            </td>
            <td onclick="location.href='@Url.Action("DocView","User", new { doc_id=item.id })'">
                @item.DocType.Name
            </td>
            <td style="border-bottom:1px solid #fff;">
                @item.dateOfSend.ToShortDateString()
            </td>
        </tr>
    }
</table>

