@{
    ViSED.Models.Accounts account = ViewBag.MyAccount;
    ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();
    int msgCountr = ViewBag.MsgCount;
}



<div id="results">


    @foreach (ViSED.Models.Letters msg in ViewBag.Letters)
    {
        if (msg.from_user_id == account.user_id)
        {

            <div class="bumagaA4Right" onclick="location.href='@Url.Action("DocView","User", new { doc_id=msg.id })'">

                @if (msg.dateOfRead == null)
                {
                    <div style="text-align:right; font-weight:600;">@msg.DocType.Name от @msg.dateOfSend.ToShortDateString() №@msg.Users.indexNum/@msg.id <span style="font-size:10px;float:left;">Доставлено @msg.dateOfSend.ToShortDateString() @msg.dateOfSend.ToShortTimeString()</span></div>
                    <div style="text-align:justify;font-size:12px;margin:10px;">@ViSED.ProgramLogic.UniverseClassViSed.Words(msg.text,5)</div>
                }
                else
                {
                    <div style="text-align:right;font-weight:600;">@msg.DocType.Name от @msg.dateOfSend.ToShortDateString() №@msg.Users.indexNum/@msg.id <span style="font-size:10px;float:left;">Прочитано @msg.dateOfRead.ToString() </span></div>
                    <div style="text-align:justify;font-size:12px;margin:10px;">@ViSED.ProgramLogic.UniverseClassViSed.Words(msg.text, 5)</div>
                }
                @{
                    var attachs = from a in vsdEnt.Attachments
                                  where a.id_letter == msg.id
                                  select a;
                }
                @if (attachs != null)
                {
                    int i = 1;
                    foreach (ViSED.Models.Attachments a in attachs)
                    {
                        <a href="@Url.Content(a.attachedFile)">Приложение @i - @a.attachedName</a><br />
                        i++;
                    }
                }
            </div>
            <img class="dialogImgRight" src="@Url.Content(msg.Users.foto)" />
     }
     else
     {
         <div class="bumagaA4" onclick="location.href='@Url.Action("DocView","User", new { doc_id=msg.id })'">
             <div style="text-align:left;font-weight:600;">@msg.DocType.Name от @msg.dateOfSend.ToShortDateString() №@msg.Users.indexNum/@msg.id <span style="font-size:10px;text-align:right;float:right;">Получено @msg.dateOfSend.ToShortDateString() @msg.dateOfSend.ToShortTimeString()</span></div>
             <div style="text-align:justify;font-size:12px;margin:10px;">@ViSED.ProgramLogic.UniverseClassViSed.Words(msg.text, 5)</div>
             @{
                 var attachs = from a in vsdEnt.Attachments
                               where a.id_letter == msg.id
                               select a;
             }
             @if (attachs != null)
             {
                 int i = 1;
                 foreach (ViSED.Models.Attachments a in attachs)
                 {
                     <a href="@Url.Content(a.attachedFile)">Приложение @i - @a.attachedName</a><br />
                     i++;
                 }

             }

         </div>
         <img class="dialogImg" src="@Url.Content(msg.Users.foto)" /> 
                     }
                                }
</div>
