@{
    ViewBag.Title = "Данные документа";
}
<script>
    function getFileName() {
        var file = document.getElementById('uploaded-file').value;
        file = file.replace(/\\/g, "/").split ('/').pop ();
        document.getElementById('file-name').innerHTML = 'Имя файла: ' + file;
    }

    function backFist() {
        var poluchateli = document.getElementById("poluchateli");
        poluchateli.style = "display:inherit;"
        var text = document.getElementById("text");
        text.style = "display:none;"
    }
    function backSecond() {
        var text = document.getElementById("text");
        text.style = "display:inherit;"
        var files = document.getElementById("files");
        files.style = "display:none;"
    }

    function poluchateli() {
        var poluchateli = document.getElementById("poluchateli");
        poluchateli.style = "display:none;"
        var text = document.getElementById("text");
        text.style = "display:inherit;"
    }

    function text() {
        var text = document.getElementById("text");
        text.style = "display:none;"
        var files = document.getElementById("files");
        files.style = "display:inherit;"
    }
</script>
<h4 class="zagolovki">Данные документа</h4>



@using (Html.BeginForm("DocSave", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div id="poluchateli">
        <p>Получатель</p>
        @Html.DropDownList("user_to_id", ViewBag.Users as SelectList, null, new { multiple = "multiple", @class = "select", @style="height:360px;" })
        <input name="doc_id" type="text" value="@ViewBag.Doc.id" style="visibility:hidden;" />
        <br />
        <span onclick="poluchateli()" class="knopka" >Далее</span>
    </div>

    <br />

    <div id="text" style="display:none;">
        <p>Текст документа</p>
        <textarea name="text" cols="45" rows="20" class="textArea"> </textarea>
        <br /><br />
        <span onclick="backFist()" class="knopka">Назад</span>
        <span onclick="text()" class="knopka">Далее</span>
    </div>

    <div id="files"  style="display:none;">
        <p>Приложения</p>
        <div class="file-upload">
            <label>
                <input type="file" name="attachment" multiple onchange="getFileName ();" id="uploaded-file">
                <span>Загрузить файлы</span>
            </label>
        </div>

        <div id="file-name"></div>

        <br />
        <p>Выбрать файл из моих документов</p>
        <select name="myDocs" multiple class="select">
            <option value="null">Не выбрано</option>
            @foreach (ViSED.Models.MyDocs m in ViewBag.MyDocs)
                {
                <option value="@m.id">@m.myDocName</option>
            }
        </select>
        <br />

        <span onclick="backSecond()" class="knopka">Назад</span> 
        <br /><br />
        <input type="submit" value="Завершить и отправить" class="knopka" />
    </div>
}