@{    
    Layout = null;
    ViSED.ProgramLogic.UserModelFoSklonen userTo = ViewBag.UserTo;
    ViSED.ProgramLogic.UserModelFoSklonen userFrom = ViewBag.UserFrom;
    ViSED.Models.Users UserForNomer= ViewBag.UserForNomer;
    ViSED.Models.DocType docType = ViewBag.DocType;
}
<br />
<div id="pdfDoc">
    <table style="margin:auto;width:97%; background-color:#fff;">
        <tr>
            <td style="text-align:center;vertical-align:top; padding:2em 2em 1em 1em;">
                @if (docType.Use_Blank == true)
                {
                    <img src="@Url.Content(userFrom.Blank)" />
                    <div> от @ViewBag.Msg.dateOfSend.ToShortDateString() №@UserForNomer.indexNum/@ViewBag.Msg.id</div>
                }
                else
                {

                }
            </td>
            <td style="text-align:right;font-size:14pt;height:450px;vertical-align:top;padding-top:3em;padding-left:3em;padding-right:2em;padding-bottom:2em;">
                @userTo.Dolgnost
                <br />
                @userTo.Podrazdelenie
                <br />
                @userTo.FirstName @userTo.SecondName @userTo.ThirdName
                <br />
                @userFrom.Dolgnost
                <br />
                @userFrom.Podrazdelenie
                <br />
                @userFrom.FirstName @userFrom.SecondName @userFrom.ThirdName
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;font-size:16pt;font-weight:600;">@docType.Name</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:justify;font-size:14pt; height:600px; vertical-align:top;padding-left:3em;padding-right:2em;padding-bottom:2em;padding-top:30px;line-height: 1.5;text-indent: 1.5em;">
                @ViewBag.Msg.text
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;padding-left:3em;padding-right:2em;padding-bottom:2em;font-size:14pt;font-style:italic;"> _______________________ @DateTime.Now.ToString("dd.MM.yyyy")</td>
        </tr>
    </table>
</div>
