@model ViSED.Models.Message

@{
    ViewBag.Title = "Просмотр документа";

    ViSED.Models.Users userTo = ViewBag.UserTo;
    ViSED.Models.Users userFrom = ViewBag.UserFrom;
    ViSED.Models.DocType docType = ViewBag.DocType;
}

<h4>Просмотр документа</h4>

<div style="height:1485px; width:1050px;box-shadow:5px 5px 15px 5px gray;">
    <table style="margin:auto;width:97%;">
        <tr>
            <td style="text-align:center;vertical-align:top; padding:2em 2em 1em 1em;">
                @if (docType.Use_Blank==true)
                {
                    <img src="@Url.Content(userFrom.Podrazdeleniya.Blank)" />
                }
                else
                {

                }
            </td>
            <td style="text-align:right;font-size:14pt;height:450px;vertical-align:top;padding-top:3em;padding-left:3em;padding-right:2em;padding-bottom:2em;">
                @userTo.Dolgnosti.Name
                <br />
                @userTo.Podrazdeleniya.Name
                <br />
                @userTo.first_name @userTo.second_name @userTo.third_name
                <br />
                @userFrom.Dolgnosti.Name
                <br />
                @userFrom.Podrazdeleniya.Name
                <br />
                @userFrom.first_name @userFrom.second_name @userFrom.third_name
                <br />
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;font-size:16pt;font-weight:600;">@docType.Name</td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:justify;font-size:14pt; height:600px; vertical-align:top;padding-left:3em;padding-right:2em;padding-bottom:2em;padding-top:30px;line-height: 1.5;text-indent: 1.5em;">
                @ViewBag.Text
            </td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:right;padding-left:3em;padding-right:2em;padding-bottom:2em;font-size:14pt;font-style:italic;"> _______________________ @DateTime.Now.ToString("dd.MM.yyyy")</td>
        </tr>
    </table>
</div>