<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery-3.1.1.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js" type="text/javascript"></script>
    <script src="~/Scripts/modernizr-2.8.3.js" type="text/javascript"></script>
</head>
<body>
    <div class="shapkaConteiner">
        <div class="logoVised">
            <img src="~/Content/icons/logo.png" height="50" />
        </div>
        <div class="ulContainer">
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="profil">
        @if (Request.IsAuthenticated)
        {
            ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();

            var myAccount = (from u in vsdEnt.Accounts
                             where u.login == User.Identity.Name
                             select u).FirstOrDefault();
            var user = (from u in vsdEnt.Users
                        where u.id == myAccount.user_id
                        select u).FirstOrDefault();
                <img class="profileImg" src="~/Content/icons/profile.png" />
                <div class="profileFio">@user.first_name @user.second_name.Substring(0, 1). @user.third_name.Substring(0, 1).</div>
                <div class="profileDolgnost">@user.Dolgnosti.Name</div>
                <div class="profilePodrazdeleniya">@user.Podrazdeleniya.Name</div>
        }
    </div>
    <div class="gridVised">
        @if (Request.IsAuthenticated)
        {
            ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();

            var myAccount = (from u in vsdEnt.Accounts
                             where u.login == User.Identity.Name
                             select u).FirstOrDefault();

            var msgToMe = from m in vsdEnt.Message
                          where m.to_user_id == myAccount.Users.id && m.dateOfRead == null
                          select m;

            string msg = "";
            if (msgToMe != null && msgToMe.Count() > 0)
            {
                msg = "Корреспонденция " + msgToMe.Count().ToString();
            }
            else
            {
                msg = "Корреспонденция";
            }

            <div class="menuSleva grid-item">
                <ul>
                    <li>
                    <a href="@Url.Action("CorrespondenceList", "User", null, null)">
                        <img src="~/Content/icons/korrespondence.png" />
                        @msg
                    </a>
                    </li>

                    <li>
                        <a href="@Url.Action("DocSelect", "User", null, null)">
                            <img src="~/Content/icons/newdoc.png" />
                            Новый документ
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("SubscribeCorrespondence", "Unsubscribe", null, null)">
                            <img src="~/Content/icons/otpisatDoc.png" />
                            Отписать документ
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("EmailData", "Mail", null, null)">
                            <img src="~/Content/icons/elPochta.png" />
                            Почтовый клиент
                        </a>
                    </li>

                    <li>
                        <a href="@Url.Action("MyDocsList", "MyDocs", null, null)">
                            <img src="~/Content/icons/myDocs.png" />
                            Мои документы
                        </a>
                    </li>
                </ul>
            </div>
        }
        <div class="renderBody grid-item">
            @RenderBody()
        </div>
    </div>
    <hr />
    <div class="footer">
        <p>&copy; @DateTime.Now.Year - А.С-А. Хасухаджиев</p>
    </div>


</body>
</html>