@if (Request.IsAuthenticated)
{

        <ul class="loginPartial">

            @{
                ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();

                var myAccount = (from u in vsdEnt.Accounts where u.login == User.Identity.Name select u).FirstOrDefault();
                if(myAccount!=null)
                { 

                    if (myAccount.Roles.RoleName == "User")
                    {

                        <li>
                            <a href="@Url.Action("UserLK", "User", null, null)">
                                <img src="~/Content/icons/kabinet.png" />
                                Личный кабинет
                            </a>
                        </li>
                        <li>@Html.ActionLink("Выйти", "LogOff", "Account", null, null)</li>
                    }

                }
                else
                {
                    var myAdmins = (from u in vsdEnt.Admins where u.login == User.Identity.Name select u).FirstOrDefault();

                    if (myAdmins.Roles.RoleName == "Manager")
                    {
                        <li>@Html.ActionLink("Панель управления", "AdminLK", "Admin", null, null) </li>
                        <li>@Html.ActionLink("Выйти", "LogOff", "Account", null, null)</li>
                    }
                    else if (myAdmins.Roles.RoleName == "Admin")
                    {
                        <li>@Html.ActionLink("Панель администратора", "AdminLK", "Admin", null, null) </li>
                        <li>@Html.ActionLink("Выйти", "LogOff", "Account", null, null)</li>
                    }

                }

            }
        </ul>
 }
 else
 {
     <ul class="loginPartial">
         <li>@Html.ActionLink("Выполнить вход", "Login", "Account",null, null)</li>
     </ul>
 }
