@model PagedList.IPagedList<ViSED.Models.MyDocs>
@using PagedList.Mvc
@{
    ViewBag.Title = "Мои документы";
}

<h4  class="zagolovki">Мои документы</h4>
<script>
    window.onload = function () {
        var block = document.getElementById("scroll");
        block.scrollTop = block.scrollHeight;
    }
</script>
<br />
    @Html.ActionLink("Добавить новый документ", "AddDoc","MyDocs",null, new { @class = "ssilka" })
<br /><br />
<div id="scroll" class="overflowClassDialog">
    <table class="table_col">

        <tr>
            <th>№</th>
            <th>
                Наименование документа
            </th>
            <th style="width:20%;">Действия</th>
        </tr>
        @{ int x = ViewBag.Page > 1 ? ((ViewBag.Page - 1) * 10) + 1 : 1; }
        @foreach (var item in Model)
        {
            <tr>
                <td>@x</td>
                <td style="border-bottom:1px solid #fff;">
                    @Html.DisplayFor(modelItem => item.myDocName)
                </td>
                <td style="border-bottom:1px solid #fff;">
                    <a href="@Url.Content(item.myDoc)">Скачать</a> |
                    @Html.ActionLink("Удалить", "DocDelete","MyDocs", new { id=item.id }, null)
                </td>
            </tr>
            x++;
        }
    </table>
</div>
<div style="text-align: center;">
    @Html.PagedListPager(Model, page => Url.Action("MyDocsList", "MyDocs", new { page = page}, null),
new PagedListRenderOptions
{
    LinkToFirstPageFormat = "<<",
    LinkToPreviousPageFormat = "Назад",
    LinkToNextPageFormat = "Вперед",
    LinkToLastPageFormat = ">>"
})
</div>
