@model PagedList.IPagedList<ViSED.Models.Tasks>
@using PagedList.Mvc
@{
    Layout = null;
    ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();
    var myAccount = (from u in vsdEnt.Accounts
                     where u.login == User.Identity.Name
                     select u).FirstOrDefault();
}
<table class="table_col">

    @if (ViewBag.Type == "zadachi")
    {
        <tr>
            <th>№</th>
            <th>Поручитель</th>
            <th>Название задачи</th>
            <th>Дата</th>
            <th>Срок</th>
            <th>Вид задачи</th>
            <th>Завершено</th>
            <th></th>
        </tr>
        int x = ViewBag.Page >1 ? ((ViewBag.Page - 1) * 10) + 1 : 1;
        foreach (ViSED.Models.Tasks item in Model)
        {
            var _taskAttachments = from t in vsdEnt.TaskAttachments
                                   where t.id == item.id
                                   select t;
            <tr>
                <td>@x</td>
                @if (item.user_id_from != null)
                {
                    <td>@item.Users.first_name @item.Users.second_name.Substring(0, 1). @item.Users.third_name.Substring(0, 1).</td>
                }
                else
                {
                    <td>Я</td>
                }
                @if (item.id_letter != null)
                {
                    <td>@Html.ActionLink(item.taskName, "DocView", "User", new { doc_id = item.id_letter }, null)</td>
                }
                else
                {
                    <td>@item.taskName</td>
                }
                <td>@item.dateOfCreate.ToShortDateString()</td>
                @if (item.dateDeadline == null)
                {
                    <td>Нет срока</td>
                }
                else
                {
                    <td>@item.dateDeadline</td>
                }
                @if (item.taskType == 1)
                {
                    
                    <td>
                        <img src="~/Content/icons/vagno.png" style="width:15px;" />
                        Для исполнения
                    </td>
                }
                else
                {
                    <td>
                        <img src="~/Content/icons/info.png" style="width:15px;" />
                        Для ознакомления
                    </td>
                }
                @if (item.complete == true)
                {
                    string str = item.taskType == 1 ? "Исполнено" : "Ознакомлен";
                    <td>@str</td>
                }
                else
                {
                    string str = item.taskType == 1 ? "Не исполнено" : "Не ознакомлен";
                    <td>@str</td>
                }
                @if (item.complete != true)
                {
                    <td> @Html.ActionLink("Завершить", "TaskCompleate", "Task", new { id = item.id }, null) 
                    </td>

                }
                else
                {
                    if (item.user_id_from == null && item.user_id_to == myAccount.user_id)
                    {
                        

                        <td>
                            @Html.ActionLink("Удалить", "TaskDelete", "Task", new { id = item.id }, null)
                        </td>
                    }
                }
                
            </tr>
            x++;
        }
    }
    else
    {
        <tr>
            <th>№</th>
            <th>Отвественный</th>
            <th>Название задачи</th>
            <th>Дата</th>
            <th>Срок</th>
            <th>Вид задачи</th>
            <th>Завершено</th>
            <th></th>
        </tr>
        int x = ViewBag.Page > 1 ? ((ViewBag.Page - 1) * 10) + 1 : 1;
        foreach (ViSED.Models.Tasks item in Model)
        {
            var _taskAttachments = from t in vsdEnt.TaskAttachments
                                   where t.id == item.id
                                   select t;
            <tr>
                <td>@x</td>
                <td>@item.Users1.first_name @item.Users1.second_name.Substring(0, 1). @item.Users1.third_name.Substring(0, 1).</td>
                @if (item.taskName !=null && item.id_letter!=null)
                {
                    <td>@Html.ActionLink(item.taskName, "DocView","User",new {doc_id=item.id_letter},null)</td>
                }
                else
                {
                    <td>@item.taskName</td>
                }
                <td>@item.dateOfCreate.ToShortDateString()</td>
                @if (item.dateDeadline == null)
                {
                    <td>Нет срока</td>
                }
                else
                {
                    <td>@item.dateDeadline</td>
                }

            @if (item.taskType == 1)
                {

                    <td>
                        <img src="~/Content/icons/vagno.png" style="width:15px;" />
                        Для исполнения
                    </td>
                }
                else
                {
                    <td>
                        <img src="~/Content/icons/info.png" style="width:15px;" />
                        Для ознакомления
                    </td>
                }
                @if (item.complete == true)
                {
                string str = item.taskType == 1 ? "Исполнено" : "Ознакомлен";
                    <td>@str</td>
                }
                else
                {
                string str = item.taskType == 1 ? "Не исполнено" : "Не ознакомлен";
                    <td>@str</td>
                }
                <td>@Html.ActionLink("Удалить", "TaskDelete", "Task", new { id = item.id }, null)</td>
            </tr>
            x++;
        }
    }
</table>
<div style="text-align: center;">
    @Html.PagedListPager(Model, page => Url.Action("TasksList", "Task", new { page = page, taskVid=ViewBag.Type }, null),
new PagedListRenderOptions
{
    LinkToFirstPageFormat = "<<",
    LinkToPreviousPageFormat = "Назад",
    LinkToNextPageFormat = "Вперед",
    LinkToLastPageFormat = ">>"
})
</div>


