@model ViSED.Models.Tasks

@{
    ViewBag.Title = "Данные задачи";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViSED.Models.Tasks _task = ViewBag.Task;
}

<h4>Данные задачи</h4>

<div>
    <dl class="dl-horizontal">

        <dt>
            Идентификатор
        </dt>

        <dd>
            @_task.id
        </dd>

        <dt>
            Название задачи
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskName)
        </dd>

        <dt>
            Прикрепленное письмо
        </dt>

        <dd>
            @if (_task.id_letter != null)
            {
                <a href="@Url.Action("DocView","User", new { doc_id = _task.id_letter } )">@_task.Letters.DocType.Name</a>
            }
            else
            {
                <span>Прикрепленных писем нет</span>
            }
        </dd>

        <dt>
            Отправитель
        </dt>

        <dd>
            @if (_task.user_id_from != null)
            {
                <span>@_task.Users.first_name @_task.Users.second_name @_task.Users.third_name</span> 
            }
            else
            {
                <span>Я</span>
            }
        </dd>

        <dt>
            Получатель
        </dt>

        <dd>
            <span>@_task.Users1.first_name @_task.Users1.second_name @_task.Users1.third_name</span>
        </dd>

        <dt>
            Текст задачи
        </dt>

        <dd>
            @Html.DisplayFor(model => model.taskText)
        </dd>

        <dt>
            Задача выполнена
        </dt>

        <dd>
            @if (_task.complete == false)
            {
                @Html.ActionLink("Завершить", "TaskCompleate", "Task", new { id = _task.id }, null)
            }
            else
            {
                <span>Завершено</span>
            }
        </dd>

        <dt>
            Дата задачи
        </dt>

        <dd>
            <span>@_task.dateOfCreate.ToShortDateString()</span>
        </dd>

        <dt>
            Срок
        </dt>

        <dd>
            @if (_task.dateDeadline != null)
            {
                <span>@DateTime.Parse(_task.dateDeadline.ToString()).ToShortDateString()</span>
            }
            else
            {
                <span>Нет срока</span>
            }
        </dd>

        <dt>
            Вид задачи
        </dt>

        <dd>
            @if (_task.taskType == 1)
            {
                <span>Для выполнения</span>
            }
            else
            {
                <span>Для ознакомления</span>
            }
        </dd>
    </dl>
</div>