@{ Layout = null;}

<style>
    body{
        background-color:#fff;
    }
    .journalTable{
    border:1px solid black;
    width:100%;
    background-color:#fff;
}
.journalTable tr {
    padding:5px;
    border: 1px solid black;
}
.journalTable tr th {
    font-weight:600;
    text-align:center;
    padding:5px;
    border: 1px solid black;
}
.journalTable tr td {
    text-align:center;
    padding:5px;
    border: 1px solid black;
}
</style>
<div id="results">
    <div style="font-weight:600;text-align:center;font-size:16px;">
        Журнал корреспонденции<br />
        @ViewBag.Period
    </div>
    @{ 
        int i = 1;
    }
    <table class="journalTable">
        <tr>
            <th>№</th>
            <th>Номер документа</th>
            <th>Отправитель</th>
            <th>Получатель</th>
            <th>Дата отправления</th>
            <th>Дата прочтения</th>
        </tr>
        @foreach (ViSED.Models.Message msg in ViewBag.Message)
        {
            <tr style="border:1px solid black;">
                <td>@i</td>
                <td>@msg.Users.indexNum / @msg.id</td>
                <td>@msg.Users.first_name @msg.Users.second_name.Substring(0,1). @msg.Users.third_name.Substring(0, 1).</td>
                <td>@msg.Users1.first_name @msg.Users1.second_name.Substring(0, 1). @msg.Users1.third_name.Substring(0, 1).</td>
                <td>@msg.dateOfSend</td>
                    @if (msg.dateOfRead != null)
                    {
                        <td> @msg.dateOfRead</td>
                    }
                    else
                    {
                        <td>Не прочитано</td>
                    }
                
            </tr>
            i++;
        }
    </table>

</div>

