@model IEnumerable<ViSED.Models.Dolgnosti>
@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<p>
    @Html.ActionLink("Добавить должность", "AddDolgnost", "Admin", null, null)
</p>
<table class="table">
    <tr>
        <th>
            Наименование
        </th>
        <th>
            Использовать голосовые сообщения
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UseAudio)
        </td>
        <td>
            @Html.ActionLink("Вверх", "ToUp","Admin", new { idDolgnost = item.id },null) |
            @Html.ActionLink("Вниз", "ToDown","Admin", new { idDolgnost = item.id },null)
        </td>
    </tr>
}

</table>
