@{
    ViewBag.Title = "Отписанные документы";
    ViSED.Models.ViSedDBEntities vsdEnt = new ViSED.Models.ViSedDBEntities();

    var myAccount = (from u in vsdEnt.Accounts
                     where u.login == User.Identity.Name
                     select u).FirstOrDefault();
}
<h4  class="zagolovki">Отписанные документы</h4>
<br />
    @Html.ActionLink("Отписать новый документ", "UnsubcribeData", "Unsubscribe", null, new {@class= "ssilka" })
<br /><br />
@foreach (ViSED.Models.Users item in ViewBag.UserList)
{
    var unsbCount = from m in vsdEnt.Unsubscribe
                   where m.from_user_id == item.id && m.to_user_id == myAccount.user_id && m.executed==false
                   select m;

    <div class="correspondenceItem" onclick="location.href='@Url.Action("SubscribeUser","Unsubscribe", new { userId =item.id})'">
        @item.first_name @item.second_name.Substring(0, 1). @item.third_name.Substring(0, 1). (Не исполнено @unsbCount.Count())
        <div style="font-size:10px;">@item.Dolgnosti.Name</div>
        <div style="font-size:10px;">@item.Podrazdeleniya.Name</div>
    </div>
}