@model IEnumerable<ViSED.Models.Unsubscribe>

@{
    ViewBag.Title = "Отписанные на меня";
}

<h4>Отписанные на меня</h4>

<table class="table">
    <tr>
        <th>
            Отписал
        </th>
        <th>
            Дата отписания
        </th>
        <th>
            Дата завершения
        </th>
        <th>
            Прикрепленные файлы
        </th>
        <th>
            Завершено
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    IQueryable<ViSED.Models.UnsubAttachments> AllFiles = ViewBag.UscAttachs;

    var files = from a in AllFiles
                where a.id_unsubcribe == item.id
                select a;
    <tr>
        <td>
            @item.Users.first_name @item.Users.second_name @item.Users.third_name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_unsub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_execution)
        </td>
        <td>
            @foreach (ViSED.Models.UnsubAttachments ua in files)
            {
                <a href="@Url.Content(ua.attachedFile)">@ua.attachedName</a><br />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.executed)
        </td>
        <td>
            @if (item.executed == false)
            {
                @Html.ActionLink("Завершить", "EndSubscribe", "Unsubscribe", new { id = item.id }, null);
            }
            else
            {
                @Html.ActionLink("Восстановить", "EndSubscribe", "Unsubscribe", new { id = item.id }, null);
            }
        </td>
    </tr>
}

</table>
