@model IEnumerable<ViSED.Models.Unsubscribe>

@{
    ViewBag.Title = "Отписано мною";
}

<h4>Отписано мною</h4>

<table class="table">

    <tr>
        <th>
            Ответственный
        </th>
        <th>
            Дата отписания
        </th>
        <th>
            Дата завершения
        </th>
        <th>
            Прикрепленные файлы
        </th>
        <th>
            Завершено
        </th>
    </tr>

@foreach (var item in Model) {
    IQueryable<ViSED.Models.UnsubAttachments> AllFiles = ViewBag.UscAttachs;

    var files = from a in AllFiles
                where a.id_unsubcribe == item.id
                select a;
    <tr>

        <td>
            @item.Users1.first_name @item.Users1.second_name @item.Users1.third_name
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_unsub)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.date_of_execution)
        </td>
        <td>
            @foreach (ViSED.Models.UnsubAttachments ua in files)
            {
                <a href="@Url.Content(ua.attachedFile)">@ua.attachedName</a><br />
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.executed)
        </td>
    </tr>
}
</table>
