
@{
    ViewBag.Title = "Выбор документа";
}
<script>
    function getFileName() {
        var file = document.getElementById('uploaded-file').value;
        file = file.replace(/\\/g, "/").split('/').pop();
        document.getElementById('file-name').innerHTML = 'Имя файла: ' + file;
    }
</script>

<h4>Выберите получателя</h4>

@using (Html.BeginForm("UnsubcribeData", "Unsubscribe", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <p>Получатели</p>
    @Html.DropDownList("user_to_id", ViewBag.Users as SelectList, null, new { multiple = "multiple", @class = "select" })
    <br />
    <p>Установить срок до...</p>
    <input type="date" class="datetime" name="date_of_unsub" value="@DateTime.Now.AddDays(10).ToString("yyyy-MM-dd")">
    <br /><br />

    <p>Приложения</p>
    <div class="file-upload">
        <label>
            <input type="file" name="attachment" multiple onchange="getFileName ();" id="uploaded-file">
            <span>Загрузить файлы</span>
        </label>
    </div>
    <div id="file-name"></div>

    <br />
    <p>Выбрать файл из моих документов</p>
    <select name="myDocs" class = "select"  multiple>
        <option value="null">Не выбрано</option>
        @foreach (ViSED.Models.MyDocs m in ViewBag.MyDocs)
        {
            <option value="@m.id">@m.myDocName</option>
        }
    </select>
    <br />


            <input type="submit" value="Отправить" class="knopka" />

}